.git/           export-ignore
.github/        export-ignore
.gitattributes  export-ignore
.gitignore      export-ignore

# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf